    body{
		background-image:linear-gradient(115deg,#72abc8,#c5ffae);
  		background-size:cover;
		font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
		overflow-y: hidden;
	}
	.bizmail_loginpanel{
		margin-top:150px;
		font-size:12px;
		width:340px;
		height: auto;
		background:#ffffff;
	}
	.bizmail_LoginBox{
		margin:-20px -30px;
		padding:20px 30px;
	}
	.bizmail_loginpanel h3{
		text-align:left;
		padding-left: 20px;
		padding-bottom:15px;
		margin:0 0 20px 0;
		border-bottom:1px solid #cccccc;
		font-size:16px;
		font-weight: normal;
	}
	.bizmail_loginpanel form{
		margin:30;padding:0;
	}
	.bizmail_loginpanel input.text{
		font-size:12px;
		width:200px;
		height:30px;
		margin:0 2px;
	}
	.bizmail_loginpanel .bizmail_column{
		height:58px;
	}
	.bizmail_loginpanel .bizmail_column label{
		display:block;
		float:left;
		width:30px;
		height:24px;
		line-height:24px;
		font-size:12px;
	}
	.bizmail_loginpanel .bizmail_column .bizmail_inputArea{
		float:left;
		/*width:240px;*/
		padding-left: 15px;
	}
	.bizmail_loginpanel .bizmail_column span{
		display: none;
	}
	.bizmail_loginpanel .bizmail_SubmitArea{
		margin-left:30px;
		clear:both;
	}
	.bizmail_loginpanel .bizmail_submitArea input{
		background: #72abc8;
		font-weight:bold;
        border:none;
        border-radius:3px;
        height:30px;
        width:140px;
        color:white;
	}
	.bizmail_loginpanel .bizmail_SubmitArea a{
		color:#888888;
		font-size:12px;
		margin-left:5px;
	    text-decoration:none;

	}
	.bizmail_loginpanel select{
		width:110px;height:20px;margin:0 2px;
	}
